  .button {
    margin-left: 1300px;
    position: relative;
  }

  .bgcl {
    background-color: rgb(49, 49, 49);
  }

  .textsd {
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;}
    
  .backgr{
    background: url(images/background2.jpg);
    background-size: contain;
    margin-left: 15px !important;
    margin-right: -15px !important;
  }

  .instruction{
    margin-left: 15px !important;
    width: 1574px !important;
  }

  .mutebutton {
    height: 80px;
    width: 80px;
  }


  .roundedright {
    border-top-right-radius: 60px!important;
    border-bottom-right-radius: 60px!important;
}

.roundedleft {
  border-top-left-radius: 60px!important;
  border-bottom-left-radius: 60px!important;
}

.roundedcircle {
  border-radius: 60px!important;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
}

.gameinfo {
  /* margin-left: 5px!important;
  margin-right: 0px; */
  max-height: 800px;
}

.section3 {
  margin-top: -30px;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

#timer {
  font-size: 120px;
  font-family: cursive;
  margin-top: -50px;
}

#level {
  margin-top: -30px;
  font-size: 120px;
  font-family: cursive;
}

#highest 
  {margin-top: -48px;
    font-size: 120px;
    font-family: cursive;
  
}
h1 {
  background-color: #f1d538a8;
  border-radius: 60px!important;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
}

/* button {  background-color: #f1d538a8 !important;
} */