canvas {
    border: solid antiquewhite 2px;
  }

  .button {
    margin-left: 1300px;
    position: relative;
  }

  .bgcl {
    background-color: rgb(49, 49, 49);
  }
  .instruction{
    margin-left: 15px !important;
    width: 1574px !important;
  }

  .mutebutton {
    height: 80px;
    width: 80px;
  }


  .roundedright {
    border-top-right-radius: 60px!important;
    border-bottom-right-radius: 60px!important;
}

.roundedleft {
  border-top-left-radius: 60px!important;
  border-bottom-left-radius: 60px!important;
}

.roundedcircle {
  border-radius: 60px!important;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
}

#timer {
  font-size: 100px;
  font-family: cursive;
  margin-top: -50px;
}

#level {
  margin-top: -30px;
  font-size: 80px;
  font-family: cursive;
}